.one{
    background-color: red;
}
.two{
         background-color: olive;
}
.thre{
           background-color: aqua;
}
.four{
    background-color: cadetblue;
}
.five{
     background-color: #bbccdd;
}